doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Introduction to React Native
    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(href='/favicon.ico' rel='shortcut icon' type='image/x-icon')
  body

    article.deck

      section
        h1 Introduction to React Native
        ul
          li A talk by <a href="https://github.com/cedced19">Cédric JUNG</a>

      section
        h2 Why do I use React Native ?
        img(src="images/1er_couv.jpg" height="75%" width="37.5%")

      section
        h2 Quick history
        ul.build.build-items
          li 2011: Cordova
          li 2013: React
          li 2015: React Native for Android and iOS
          li 2016: React Native for Windows <span class="build">(Is it important ? <i class="em em-stuck_out_tongue_winking_eye"></i> )</span>

      section
        h2 What about Cordova <i class="em em-grey_question"></i>
        img(src="images/cordova.png")

      section
        h2 Cordova 
        ul.build-items
          li single-page application
          li running inside the default Webview 
              ul
                li Chrome browser for Android
                li Safari browser for iOS <i class="em em--1 build"></i>
          li development Freedom <i class="em em---1"></i> <i class="build">(Ionic, Ace, Onsen)</i>

      section
        h2 React Native
        ul.build.build-items
          li React Native ≈ React <b class="build">⇒ Community <i class="em em---1"></i></b> 
          li clear separation between iOS and Android <i class="em em---1"></i>
          li running in JavaScriptCore <i class="em em---1"></i>
          li technology stack "imposed" <i class="em em-rocket"></i>

      section
        img(src="images/react-running.svg")

      section
        h2 Quick presentation of Expo
        ul.build.build-items
          li Facebook login
          li instant updating
          li asset management
          li easier updating to new React Native releases
          li <b><u>but</u> no native modules</b> <i class="em em--1 build"></i>

      section
        h2 Style
        pre
          code.language-javascript.
            StyleSheet.create({
              container: {
                flex: 1,
                justifyContent: 'center',
                alignItems: 'center',
                backgroundColor: '#F5FCFF',
              },
              welcome: {
                fontSize: 20,
                textAlign: 'center',
                margin: 10,
              },
              ...
            });
      
      section
        h2 Tools

      section 
        h2 Init new app faster with a CLI 
        pre
          code.language-bash.
             npm install -g create-react-native-app
             create-react-native-app my-app
             cd my-app/
             npm run eject # I do not love Expo 
             npm start

      section
        h2 NativeBase
        h3 the “Bootstrap of React Native” 
        img(src="images/native_base.png" width="50%" height="55%")

      section
        h2 React Navigation
        h3 Routing and navigation for your React Native apps

      section
        pre
          code.language-javascript.
            import React from 'react';
            import { View, Text } from 'react-native';
            import { createStackNavigator } from 'react-navigation';

            class HomeScreen extends React.Component {
              render() {
                  return (
                  &lt;View&gt;
                    &lt;Text&gt;Home Screen&lt;/Text&gt;
                  &lt;/View&gt;
                );
              }
            }
            class SecondScreen extends React.Component {
              render() {
                  return (
                  &lt;View&gt;
                    &lt;Text&gt;Second Screen&lt;/Text&gt;
                  &lt;/View&gt;
                );
              }
            }
            export default createStackNavigator({
              Home: {
                screen: HomeScreen
              },
              Second: {
                screen: SecondScreen
              },
            });
        

      section
        h2 Building stack 
        img(src="images/screenshot.png" width="100%")

      section
        h2 Error during building
        img(src="images/error_building.png" width="100%")
      
      section
        h2 Error displayed on the screen
        img(src="images/error_running.png" width="30%" height="70%") 

      section
        h2 Error displayed in the console
        img(src="images/error_running_bundle.png" width="70%") 

      section
        h2 Problems
        ul.build.build-items
          li Dependencies 
          li You are dependent on plugin
          

      section
        h2 Just the beginning…
        ul.build.build-items
          li Facebook will re-write inside components of React Native
          li Some alternative are rising up: <i>Vue Native</i>
        br
        ul.build
          li
            strong Enjoy! :)
            br
            <a href="https://github.com/cedced19">Cédric JUNG</a>

    script(src='build/build.js')
